# .env.example

# Admin Panel
ADMIN_USER=admin
ADMIN_PASSWORD=motdepassefort

# Fuseau horaire du système
TZ=Europe/Paris

# Webapp Flask
SECRET_KEY=une_cle_ultra_secrete_et_longue
WEBAPP_PORT=5000

# SMTP pour l'envoi des mails (Gmail recommandé)
# pour gmail il faut activer le 2FA et crée un mots de pass application
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=cyberkiosk.association@gmail.com
SMTP_PASSWORD=mot_de_passe_application
MAIL_FROM="Cyberkiosk <cyberkiosk.association@gmail.com>"
MAIL_SUBJECT="Votre session Cyberkiosk"
ALLOWED_HOSTS=localhost,127.0.0.1

# Chemin absolu sur l’hôte vers le dossier des documents de l’association
# Utile pour syncro un dossier d'un stockage cloud  
ASSO_PATH=/opt/cyberkiosk/asso

